.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
 }

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin: 0 0 0 64px;
  z-index: 2;
 } 

.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
}

/* Description*/

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;  
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*Digits*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0 0 20px;
  padding-top: 100px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0;
}

.table {
  width: 1100px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  margin:0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Feynman*/

.feynman {
  height: 790px;
  margin-top: 100px;
  background-color:  #f2f2f2;
  background-image: url("./../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  margin: 0;
  padding:0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

/*Kaufman*/

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  margin-top: 0;
  padding-top: 90px;
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__text_theme_dark {
margin-bottom: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('./../images/kaufman-triangle.svg');
  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
}
 /*Footer*/
 
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
 }

 .footer__column {
   display: flex;
   flex-direction: column;
 }

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('./../images/logo_place_footer.svg');
  height: 35px;
  width: 183px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;

}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  color: white;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
